
<section 
    class="content-header">
</section>

<section class="content">
  <section class="invoice">

        <form #form="ngForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>                

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-5 col-xs-12">
              <mt-input-container label="Endereço" errorMessage="Campo obrigatório e no minimo 5 caracteres">
                <input class="form-control" name="adress" placeholder="Endereço" ngModel required minlength="5" autocomplete="odd">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container label="Número" errorMessage="Obrigatório e somente números">
                <input type="text" class="form-control" pattern="^[0-9]*$" name="number" placeholder="Número" autocomplete="off" required #iptNumber="ngModel" ngModel>
              </mt-input-container>
            </div>
            <div class="col-sm-4 col-xs-6">
              <mt-input-container>
                <input type="text" class="form-control" name="optionalAdress" placeholder="Complemento" ngModel>
              </mt-input-container>
            </div>
          </div>        

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            <mt-order-items [items]="cartItems()"
                  (increaseQty)="increaseQty($event)"
                  (decreaseQty)="decreaseQty($event)"
                  (remove)="remove($event)">
            </mt-order-items>
          </div>

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>
                <mt-radio [options]="paymentOptions" name="paymentOption" required ngModel></mt-radio>
            </div>

            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>
              <mt-delivery-costs 
                [delivery]="delivery"
                [itemsValue]="itemsValue()"></mt-delivery-costs>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-xs-12">
            <button (click)="checkOrder(form.value)" class="btn btn-success pull-right" 
                [disabled]="!form.valid || cartItems().length === 0">
                <i class="fa fa-credit-card"></i> Concluir Pedido
            </button>
          </div>
        </div>

    </section>
</section>